################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IronBookStoreAuthJWT/.vs/IronBookStoreAuthJWT
/IronBookStoreAuthJWT/IronBookStoreAuthJWT/bin/Debug/netcoreapp3.0
/IronBookStoreAuthJWT/IronBookStoreAuthJWT/obj
/IronBookStoreAuthIdentityToken/IronBookStoreAuthIdentityToken/.vs/IronBookStoreAuthIdentityToken/v16
/IronBookStoreAuthIdentityToken/IronBookStoreAuthIdentityToken/IronBookStoreAuthIdentityToken/obj
